.app-header {
  grid-area: grid-header;
  width: 20rem;
  padding: 0;
  background: $darkest-color;
  text-align: center;
}

.app-container {
  grid-area: grid-main;
  padding: 2.5rem;
  min-width: 600px;
  max-width: 960px;
}

@media (max-width: 940px) {
  .app-container {
    padding: 1rem;
  }
}

@media (min-width: 940px) {
  .app-header {
    min-height: 100vh;
  }
}

.app-header-avatar {
  top: 1rem;
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
}

.app-header-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: $lightest-color;

  a:not(:last-child) {
    margin-right: 0.4em;
  }
}

.app-header-title {
  color: $lightest-color;
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

aside {
  grid-area: grid-side;
}

@media (max-width: 940px) {
  aside {
    display: none;
  }
}