@import 'syntax';

div.chroma {
  position: relative;
}

code.language-fsharp::before  { content: "F#"; }
code.language-csharp::before  { content: "C#"; }
code.language-ocaml::before   { content: "OCaml"; }
code.language-racket::before  { content: "Racket"; }
code.language-js::before      { content: "JavaScript"; }
code.language-perl::before    { content: "Perl"; }
code.language-bash::before    { content: "Bash"; }

code::before {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c0c0c0;
  color: #000000;
  border-radius: 0 3px 0 5px;
  padding: 0px 5px;
}

code {
  font-size: 1em;
  color: rgb(0, 191, 255);
}

pre {
  code {
    font-size: 1em;
    color: rgb(0, 191, 255);
  }
}
