@import 'syntax';

/* CSS Info Box */
div.info {
    border: 1px solid rgba(0,0,0,0.15);
    padding: 1.5em 2em;
    border-radius: 20px;
    margin: 1em;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2)
}

div.info:before {
    content: url(/images/info.svg);
    float:   left;
    width:   2em;
    height:  2em;
    position: relative;
    left: -15px;
    top: -5px;
}

/* Adds small language tags to the code examples */
div.chroma {
  position: relative;
}

code.language-fsharp::before  { content: "F#"; }
code.language-csharp::before  { content: "C#"; }
code.language-ocaml::before   { content: "OCaml"; }
code.language-racket::before  { content: "Racket"; }
code.language-js::before      { content: "JavaScript"; }
code.language-perl::before    { content: "Perl"; }
code.language-bash::before    { content: "Bash"; }

code::before {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c0c0c0;
  color: #000000;
  border-radius: 0 3px 0 5px;
  padding: 0px 5px;
}

code {
  font-size: 1em;
  color: rgb(0, 191, 255);
}

pre {
  code {
    font-size: 1em;
    color: rgb(0, 191, 255);
  }
}

/* SVG formatting for F# code */
.svg-code {
  background: rgb(30,30,30);
  border: 10px rgb(30,30,30) solid;
  border-radius: 10px;
}

.svg-code img {
  margin: 10px;
}

/* Syntax Highlight Line */
.chroma .hl {
  background-color: #444444
}
