{{ define "main" }}
<main class="app-container">
    <article>

        <h1>Language Tags</h1>
        <ul class="tags-list">
            <li class="tags-list-item">
                {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                <a class="tags-list-item-title" href="/tags/csharp">C#</a>
            </li>
            <li class="tags-list-item">
                {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                <a class="tags-list-item-title" href="/tags/fsharp">F#</a>
            </li>
            <li class="tags-list-item">
                {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                <a class="tags-list-item-title" href="/tags/js">JavaScript</a>
            </li>
            <li class="tags-list-item">
                {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                <a class="tags-list-item-title" href="/tags/perl">Perl</a>
            </li>
            <li class="tags-list-item">
                {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                <a class="tags-list-item-title" href="/tags/racket">Racket</a>
            </li>
        </ul>

        <h1>All Tags</h1>
        <ul class="tags-list">
            {{ range .Data.Terms.ByCount }}
                <li class="tags-list-item">
                        {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                        <a class="tags-list-item-title" href="{{ .Page.Permalink }}">
                            ({{ .Count }})
                            {{ .Page.Title }}
                        </a>
                </li>
            {{ end }}
        </ul>
    </article>
</main>
{{ end }}
